body {
    font-size: 15px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    font-family: "pokemon-font", monospace;
    background-image: url(images/pokemon.png);
  }
  #foto{
    position: absolute;
  }
  h1 {
    font-size: 40px;
  }

.card-body{
  background-image: linear-gradient(rgb(226, 57, 57), rgb(255, 196, 0));
  padding: 15px;
  border-radius: 15px;
}

#todo, .contenido,.carta{
  display: inline-block;
}
.carta{
  width: 400px;
  
}